*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-image: url(./images/background.jpg);
    
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    color: #f5168d;

}
.home{
    width: 100px;
    cursor: pointer;
    margin-left: 1px;
    color: #fff;
    background-color: transparent;
    border: none;
    outline: none;
    text-size-adjust: 10px;
}
nav ul {
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 40px;

}
nav ul li {
    display: inline-block;
    margin: 20px 20px;

}
nav ul li a {
    color: #fff;
    text-decoration: none;
    color:#fff;
}
nav ul li a:hover{
    color: #f5168d;
}
.btn{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-right: 30px;
    border: 0;
    outline: 0;
    border-radius: 8px;
    background: #f5168d;
    color:#fff ;
    font-weight: 800;
    cursor: pointer;
}
.btn:hover{
    background: #fff;
    color:#f5168d ;
}
button i{
    padding: 0 7px 0 2px;
    width: 20px;
}
nav span i{
    padding: 0 6px;
}
.container form{
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    margin-right: 200px;
    margin-left: 250px;
}
.container form input{
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 16px;
    padding-left:10px ;
}
.bar{
    border: 0;
    outline: 0;
    background: #fff;
    cursor: pointer;
    color: #f5168d;
}
.bar:hover{
    color: #000;

}
.department{
    background-image: linear-gradient(red black, url(./images/));
    background-color:#f5168d;
    width: 210px;
    height: 180px;
    border-radius: 5px;
    margin-left: 250px;
    /* display: ; */
    transition: 0.5s;
}
.department ul{
    margin: 3px;
    margin-top: 4px;
}
.department ul li{
    margin-bottom: 3px  ;
    display: flex;
    align-items: center;
    justify-content:baseline;
}
.department ul li a{
    text-decoration: none;
    color: #fff; 
    width: 100%;  
    padding: 6px;
    border-radius: 3px;
}
.department ul li a:hover{
    background-color: #fff;
    color: #f5168d;
}
.submech{
    display: none;
}
#staff_box
{
    /* background-color: red; */
    
}
#staff_data
{
    display: grid;
    grid-template-columns: auto auto auto;
}
#staff_data1
{
    margin: 50px;
    padding: 20px;
    border-color: white;
    border-style: solid;
    background-color: white;
    border-radius: 25px;
}











